
body {
	background-color: black;
}
h1{font-family: "Helvetica Neue", Helvetica, sans-serif;font-size: 32px;font-weight: bold;color:white}

h2{font-family: "Helvetica Neue", Helvetica, sans-serif;font-size: 18px;font-weight: regular;color: white}

h3{font-family: "Helvetica Neue", Helvetica, sans-serif;font-size: 16px;font-weight: 300;color: white; margin-left: 15px; letter-spacing: 1px;}

p{margin-top: 20px; margin-left: 15px;  font-family: "Helvetica Neue", Helvetica, sans-serif;font-size: 12px;font-weight: thin;letter-spacing: 1px; line-height: 20px; color: white; width: 250px;height: auto;}

#links{font-family: "Helvetica Neue", Helvetica, sans-serif;font-size: 12px;font-weight: thin;letter-spacing: 1px; color: white;}

#horizontal-line{width: 250px; height: 1px; background-color: white; margin-left: 15px;}

.dropbtn {
    background-color: black;
    color: white;
    padding: 12px;
    font-size: 14px;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
    margin-left: 15px;
    border: 5px;
    border-color: white;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: darkgrey;
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 1px; 
    color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 8px 12px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: darkgrey; color: white}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: white
    color: black;
}

.button {
  border-radius: 4px;
  background-color: yellowgreen;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 400;
    letter-spacing: 1px;
  padding: 10px;  
  width: relative;
  transition: all 0.5s;
  cursor: pointer;
  margin: 15px;
}




.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '+';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}


#secret {
    z-index:2; 
}

#heidi {z-index: 1;}


#ranch {
z-index: 2;
position: fixed;
top: 180px;
left: 400px;
}

#hoisin {
z-index: 2;
position: fixed;
top: 180px;
left: 550px;
}
	
	

#mayo {
	z-index:4;
	position: fixed;
	top: 280px;
	margin-left: 550px;
}
	

#srira {
	z-index:2;
	position: absolute;
	top: 0px;
	left: 430px
		}


#ponzu {
	z-index:2;
	position: absolute;
	top: 130px;
	left: 430px
		}

#mustard {
	z-index:1;
	position: absolute;
	top: 0px;
	left: 300px
	
}

#teriyaki {
	z-index:1;
	position: absolute;
	top: 0px;
	left: 470px;
	
}


#ketchup {
	z-index:3;
	position: absolute;
	top: 280px;
	left 200px;
}


#soya {
	z-index:3;
	position: fixed;
	top: 280px;
	margin-left: 120px;
}

#shiso {
	z-index:3;
	position: fixed;
	top: 280px;
	margin-left: 120px;
}
	

#miso {
	z-index:3;
	position: fixed;
	top: 290px;
	margin-left: 520px;
}


#noodle {
	z-index:3;
	position: fixed;
	top: 290px;
	margin-left: 600px;
}

#yuzu {
	z-index:3;
	position: fixed;
	top: 320px;
	margin-left: 520px;
}


#soba {
	z-index:3;
	position: fixed;
	top: 280px;
	margin-left: 190px;
}


#seasame {
	z-index:3;
	position: fixed;
	top: 250px;
	margin-left: 420px;
}


#chips {
	z-index:3;
	position: fixed;
	top: 160px;
	margin-left: 600px;
}


#water {
	z-index:3;
	position: fixed;
	top: 200px;
	margin-left: 600px;
}


#oil {
	z-index:3;
	position: fixed;
	top: 200px;
	margin-left: 540px;
}


#pasta {
	z-index:3;
	position: fixed;
	top: 120px;
	margin-left: 540px;
}


#jan {
	z-index:3;
	position: fixed;
	top: 120px;
	margin-left: 540px;
}



#feb {
	z-index:3;
	position: fixed;
	top: 120px;
	margin-left: 340px;
}



#mar {
	z-index:3;
	position: fixed;
	top: 120px;
	margin-left: 680px;
}

#apr {
	z-index:3;
	position: fixed;
	top: 220px;
	margin-left: 520px;
}


#MAY {
	z-index:3;
	position: fixed;
	top: 160px;
	margin-left: 520px;
}

#june {
	z-index:3;
	position: fixed;
	top: 160px;
	margin-left: 470px;
}


#july {
	z-index:3;
	position: fixed;
	top: 180px;
	margin-left: 470px;
}


#aug {
	z-index:3;
	position: fixed;
	top: 160px;
	margin-left: 530px;
}


#sept {
	z-index:3;
	position: fixed;
	top: 160px;
	margin-left: 530px;
}


#oct {
	z-index:3;
	position: fixed;
	top: 160px;
	margin-left: 480px;
}
