
body {
	background-color: black;
}
h1{font-family: "Helvetica Neue", Helvetica, sans-serif;font-size: 32px;font-weight: bold;color:white}

h2{font-family: "Helvetica Neue", Helvetica, sans-serif;font-size: 18px;font-weight: regular;color: white}

p{margin-top: 20px; margin-left: 15px;  font-family: "Helvetica Neue", Helvetica, sans-serif;font-size: 12px;font-weight: thin;letter-spacing: 1px; line-height: 20px; color: white; width: 250px;height: auto;}

#links{font-family: "Helvetica Neue", Helvetica, sans-serif;font-size: 12px;font-weight: thin;letter-spacing: 1px; color: white;}

#horizontal-line{width: 250px; height: 1px; background-color: white; margin-left: 15px;}

.dropbtn {
    background-color: black;
    color: white;
    padding: 12px;
    font-size: 14px;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
    margin-left: 15px;
    border: 5px;
    border-color: white;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: darkgrey;
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    font-size: 12px;
    font-weight: 300;
    letter-spacing: 1px; 
    color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 8px 12px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: darkgrey; color: white}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: white
    color: black;
}

.button {
  border-radius: 4px;
  background-color: yellowgreen;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  font-size: 18px;
  font-weight: 500;
    letter-spacing: 2px;
  padding: 12px;  
  width: 220px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 15px;
}




.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}